@font-face {
  font-family: JNRfont;
  src: url(/public/JNRfont_n.woff2);
}

.outer {
  font-family: JNRfont;
  width: 500px;
  height: 100px;
  position: relative;
  margin-bottom: 10px;
}

.flap {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(#222, #111, #222, #111);
  color: #e0e3e2;
  border: solid 1px #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  white-space: nowrap;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}

.flap.top {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  display: none;
}

.flap.bottom {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  display: none;
}

.gap {
  height: 1px;
  width: 100%;
  position: relative;
  top: 50px;
  background-color: #000;
  z-index: 20;
  opacity: 0.6
}